# 2.3 Funciones
***

Una de las estructuras más importantes y utilizadas en la programación son las **funciones**. A diferencia de las matemáticas, las funciones en programación tienen un abánico más amplio de aplicaciones. Por otra parte, la reutilización de código en programación es un aspecto muy importante, ya que incrementar el tamaño de código, este pierde su legibilidad y lo hace más difícil de mantener o trabajar. Por ejemplo, cuando se tiene un proyecto grande, es importante simplificar segmentos de código que se repiten, es decir reutilizarlos y para esto, se hace uso de las funciones.

Una función es un fragmento de código con un nombre asociado que realiza una serie de tareas. Las funciones pueden devolver (o no) valores y pueden tener (o no) parámetros/argumentos, teniendo una estructura es muy similar a las funciones matemáticas, como las funciones $f(x)$, a las cuales le ingresas un valor y lo transforma en otro.

Un ejemplo con el cual estamos bastante relacionados, son las funciones en interfaces gráficas, como al pulsar el botón de cerrar, correr el programa, minimizar una ventana, etc., estás llamando a una función, una serie de instrucciones que se tienen que repetir.

## 2.3.1 Sintaxis para las funciones
______

A continuación mostramos la sintaxis base de una función

```python
def nombre_funcion(arg):
  
  Instrucción

  return var

nombre_funcion(arg)
```

donde 

- *`nombre_funcion`* → Caracterización de la función.
- *`arg`* → Argumento de la función (valor o valores de entrada).
- *`Instrucción`* → Bloque de instrucciones dentro de la función.
- *`return var`* → La salida de la función.
- *`nombre_funcion(arg)`* → Llamar a la función con un argumento dado.

Podemos observar que, en Python no es necesario definir el tipo de dato en el argumento, a diferencia de otros lenguajes de programación.

Además, se requiere de una identación dentro de la función para identificar el bloque de instrucciones que pertenecen a la función y que queremos que repita cada que la mandamos llamar. La función se acaba cuando la siguiente línea de código ya no está identada.

## 2.3.2 Ejemplos de funciones
_________

### 2.3.2.1 Ejemplo 1: Mensajes cortos

Definimos nuestra primera función sin argumento y la mandamos llamar:

In [ ]:
def mostrar_mensaje():
    print("Hola a todos, esta es mi primera función")

mostrar_mensaje()

Hola a todos, esta es mi primera función

### 2.3.2.2 Ejemplo 2: Mensajes largos

Para escribir un bloque de mensajes reiteradamente:

In [ ]:
print("\nHola a todos")
print("Hoy estamos aprendiendo funciones")
print("Python es muy divertido")

print("\nHola a todos")
print("Hoy estamos aprendiendo funciones")
print("Python es muy divertido")

print("\nHola a todos")
print("Hoy estamos aprendiendo funciones")
print("Python es muy divertido")

Hola a todos
Hoy estamos aprendiendo funciones
Python es muy divertido

Hola a todos
Hoy estamos aprendiendo funciones
Python es muy divertido

Hola a todos
Hoy estamos aprendiendo funciones
Python es muy divertido

Lo podemos agrupar en una función:

In [ ]:
def mensaje():
    print("\nHola a todos")
    print("Hoy estamos aprendiendo funciones")
    print("Python es muy divertido")

mensaje()
mensaje()
mensaje()

Hola a todos
Hoy estamos aprendiendo funciones
Python es muy divertido

Hola a todos
Hoy estamos aprendiendo funciones
Python es muy divertido

Hola a todos
Hoy estamos aprendiendo funciones
Python es muy divertido

### 2.3.2.3 Ejemplo 3: Función matemática

Ahora definamos una función como lo haríamos en matemáticas, que reciba argumentos y que regrese un valor:
$$f(x)=x^2$$

In [ ]:
def f(x):
    resultado=x**2
    return resultado

y evaluamos en $x=2$:
$$f(2)=2^2=4$$

In [ ]:
print(f(2))

4

y evaluamos en $x=10$:
$$f(2)=10^2=100$$

In [ ]:
print(f(10))

100

### 2.3.2.4 Ejemplo 4: Sumar dos números

Hacemos una función que nos sume dos números, por lo que necesitamos dos argumentos $(x,y)$:

In [ ]:
def sumar(x,y):
    resultado=x+y
    return resultado

Podemos simplificar esta función añadiendo directamente la suma $x+y$ en el *return*:

In [ ]:
def sumar(x,y):
    return x+y

Evaluamos la función con los argumentos `x=2` y `y=3`:
```python
sumar(2,3)=2+3=5
```

In [ ]:
print(sumar(2,3))

5

Cuando una función nos retorna valores, ests pueden ser guardados en una variable:

In [ ]:
x = sumar(10,10)

Lo que significa que al ejecutarse la función $sumar(10,10)$, guardará ese valor en la variable $x$.

In [ ]:
print(x)

20

Cuando queremos imprimir una mezcla de tipos de datos, en este caso, para darle formato a nuestra impresión, realizamos la siguiente instrucción:

In [ ]:
print("La suma es: ", x)

La suma es:  20

### 2.3.2.5 Ejemplo 5: Retornar múltiples valores

A su vez, las funciones pueden regresar varios valores, para separarlos se hace uso de la coma en el *return*.

Para ejemplificar esto declaramos la siguiente función:

In [ ]:
def sumar_multiplicar(x,y):
    return x + y, x*y

Imprimimos la función evaluada en $x=1$ y $y=1$:

In [ ]:
print(sumar_multiplicar(1,1))

(2, 1)

Regresando los valores como tipo de dato *tupla*.

También podemos guardarlo en variables de la siguiente forma:

In [ ]:
suma, multiplicacion = sumar_multiplicar(1,1)
print(suma,multiplicacion)

2 1

De modo que, nos imprime los valores de forma separada.

### 2.3.2.6 Ejemplo 6: Sumar dos strings

Retomando la función `sumar(x,y)`, ahora queremos dar como argumentos cadenas de caracteres, de forma que `x="Hola"` y `y="mundo"`, buscando que se obtenga como resultado una suma de caracteres:
```python
sumar("Hola","mundo")="Hola"+"mundo"="Holamundo"
```

In [ ]:
print(sumar("Hola","mundo"))

Holamundo

### 2.3.2.7 Ejemplo 7: Pedir un valor al usuario

Haremos uso de la función *`input()`*, la cual nos permite pedirle al usuario un valor al que se le tiene que asignar una variable.

In [ ]:
x=input("Digite un número: ")
print(x)

Digite un número: 3
3

La función *`input()`* recibe una cadena de caracteres, para comprobar esto, haremos uso de la función *`type()`*, que nos proporciona el tipo de dato de la variable en cuestión:

In [ ]:
print(type(x))

<class 'str'>

Nuevamente pediremos al usuario dos números, los cuales serán sumados con la función creada $sumar(x,y)$:

In [ ]:
x=input("Digite un número: ")
y=input("Digite otro número: ")

print(sumar(x,y))

Digite un número: 10
Digite otro número: 10
1010

### 2.3.2.8 Ejemplo 8: Cambiar el tipo de dato de las variables

Si lo que busco es cambiar a valores enteros, se realiza mediante la función *`int()`*:

In [ ]:
x=int(x)
y=int(y)

print(sumar(x,y))

20

Si lo que busco es cambiar a valores flotantes, se realiza mediante la función *`float()`*, y para redondear utilizamos la función *`round()`*:

In [ ]:
x=float(x)
y=float(y)

print(sumar(x,y))


z=(x+3)/(y-3)

print(round(z,3))

20.0
1.857

Si lo que busco es cambiar a cadenas de texto, se realiza mediante la función *`str()`*:

In [ ]:
x=str(x)
y=str(y)

print(sumar(x,y))

10.010.0

### 2.3.2.9 Ejemplo 9: Parte real e imaginaria de un número complejo

Tenemos el número complejo $z=2+3i$, lo podemos expresar de la siguiente forma mediante la función `complex()`:

In [ ]:
z=complex(2,3)

print(z)

(2+3j)

Haremos uso de un método, aplicado a un objeto, en este caso, la variable, para obtener la parte real e imaginaria del número complejo, los métodos son `.real` y `.img` respectivamente:

In [ ]:
parte_real=z.real
parte_img=z.imag

print(parte_real, parte_img)

2.0 3.0

## 2.3.3 Funciones lambda
_______________

Para aquellas funciones anónimas, no son extensas, con la capacidad de definirse en una sola línea de código, son de gran utilidad para describir funciones matemáticas.
En vez de utilizar la sintaxis vista anteriormente, se puede compactar de la siguiente forma:

In [ ]:
f=lambda x: x**2

Por lo que evaluando los valores $x=2$ y $x=10$, nos damos cuenta que tiene el mismo funcionamiento, pero de forma más compacta:

In [ ]:
print(f(2))
print(f(10))

4
100